body {
  font-family: 'Droid Sans Mono';
  color: rgb(141,188,146);
  background-color: rgb(237,236,214);
  padding: 0;
  margin: 0;
}

/* color of links */
a {
  color: rgb(237,236,214);
  text-decoration: none;
}

/* color changes when hovering over link */
a:hover {
  color: #ececec;
  text-decoration: underline;
}

header {
  text-align: center;
  background-color: rgb(141,188,146);
  overflow: hidden;
}

/*
img {
  border:2px solid rgb(237,236,214);;
}
*/

table {
  /* border: 1px solid black; */
  font-size: 18px;
  color: rgb(237,236,214);
  empty-cells: inherit;
}
td.certain {
  font-size:145%
}

.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content {
  text-align: center;
  padding: 10px;
}

ul.entries li {
  position: relative;
  margin: 20px auto;
  width: 600px;
}

ul.entries img {
  width: 70%;
}

ul.entries li h3 {
  position: absolute;
  bottom: -25px;
  left: 100px;
  font-size: 2em;
}

/* text color of list */
ul.entries a {
  color: #ececec;
}
ul.entries a:hover {
  color: #fff;
}

footer {
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: rgb(141,188,146);
  color: rgb(237,236,214);
  font-size: 1em;
  text-align: center;
}
