<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
  <meta charset=utf-8 />
  <title> Jordan Hu - About Me </title>
  <link rel ="stylesheet" href="/css/style_about.css" />
</head>

<body>
  <header>
    <br>
    <table style = "width:100%">
      <tr>
        <td rowspan = "4"> <a href= "/"> <img src = "/img/HoodieLogoCircleV2.png" /> </a></td>
        <td>&nbsp &nbsp &nbsp</td>
        <td> <a href = "/about/"> About </a> </td>
        <td> <a href = "https://twitter.com/desfortunata"> Twitter </a> </td>
        <td> E-mail </td>
      </tr>
      <tr>
        <td></td>
        <td> Archive </td>
        <td> <a href = "https://instagram.com/hularious/"> Instagram </a> </td>
        <td> Phone </td>
      </tr>
      <tr>
        <td></td>
        <td> What's New? </td>
        <td> <a href = "http://jhudesign.tumblr.com/"> Tumblr </a> </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td> <a href = "https://www.facebook.com/jhudesign"> Facebook </a> </td>
      </tr>
      <tr>
        <td class = "certain"> About Me </td>
        <td></td>
        <td></td>
        <td> Spotify </td>
      </tr>

    </table>
    <br>

  </header>
  <br>

  {{ content }}

  <footer>
    <h1>JORDAN HU</h1>
    <div>
      <p>Website designed by Jordan Hu<br>
        Developed by Stephen Kuo</p>
      </footer>

    </body>
    </html>
