<!DOCTYPE html>
<html>
<head>
 <link href='https://fonts.googleapis.com/css?family=Fira+Mono' rel='stylesheet' type='text/css'>
    <meta charset=utf-8 />
    <title> Jordan Hu </title>
    <link rel ="stylesheet" href="/css/style.css" />
</head>

<body>
  <header>
  <h1> Jordan Hu </h1>
  <p>
      <b>
      Site Under Construction! Please Excuse Our Appearance!
      </b>
  </p>
  </header>

    <div id="main">
        <nav role = "navigation">
            <ul>
                <li><a href = "/">Home</a></li>
            </ul>
        </nav>
    </div>

        {{ content}}

    <footer>
        <h1>JORDAN HU</h1>
        <div>
        <p>Website designed by Jordan Hu<br>
           Developed by Stephen Kuo</p>
    </footer>

</body>

</html>
